.lead {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 984px;
  }
}
