.footer__link {
  max-width: 158px;
  margin: 32px 0 0 16px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.footer__link:first-of-type {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .footer__link {
    max-width: 106px;
    margin: 0 18px 0 0;
    font-size: 16px;
    line-height: 18px;
  }

  .footer__link:last-of-type {
    margin-right: 0;
  }
}
