.intro {
  max-width: 288px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    max-width: 690px;
    margin-left: 48px;
    align-self: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    margin-left: 148px;
  }
}
