.cover {
  width: 100%;
  min-height: 200px;
  padding-top: 66px;
  box-sizing: border-box;
}

.cover:hover .cover__background::before {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .cover {
    min-height: 480px;
    padding-top: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    min-height: 640px;
    padding-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    min-height: 740px;
  }
}