.cover__title {
  max-width: 288px;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  margin: 33px 16px 0;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    margin: 115px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    margin-top: 245px;
  }
}
