.footer {
  max-width: 186px;
  width: 100%;
  padding: 64px 0 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    max-width: 928px;
    padding-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}
