.intro__title {
  max-width: 288px;
  min-height: 70px;
  margin: 0;
  padding: 64px 0 40px;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
}

@media screen and (min-width: 768px) {
  .intro__title {
    max-width: 720px;
    min-height: 58px;
    padding: 88px 0 40px;
    font-size: 54px;
    line-height: 58px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    max-width: 690px;
    padding: 92px 0 40px;
  }
}